body {
    padding-top: 3.5rem;
  }
  

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Nunito', sans-serif;
    color: #384047;
  }
  
  form {
    max-width: 300px;
    margin: 10px auto;
    padding: 10px 20px;
    background: #f4f7f8;
    border-radius: 8px;
  }
  
  h1 {
    margin: 0 0 30px 0;
    text-align: center;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="date"],
  input[type="datetime"],
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="url"],
  textarea,
  select {
    background: rgba(255,255,255,0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
  }
  
  input[type="radio"],
  input[type="checkbox"] {
    margin: 0 4px 8px 0;
  }
  
  select {
    padding: 6px;
    height: 32px;
    border-radius: 2px;
  }
  
  button {
    text-align: center; 
     width: 40%;
  }
  
  fieldset {
    margin-bottom: 30px;
    border: none;
  }
  
  legend {
    font-size: 1.4em;
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  label.light {
    font-weight: 300;
    display: inline;
  }
  
  .number {
    background-color: #5fcf80;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 100%;
  }
  
  @media screen and (min-width: 480px) {
  
    form {
      max-width: 480px;
    }
  
  }
  .iconThermo {
    font-size: 25px;
    display: flex;
    align-items: center;
    color:#4c4a4a;
  

  }

  .iconCloud {
    font-size: 25px;
    display: flex;
    align-items: center;
    color:#4c4a4a;
  }

  .cloud {
    color: rgb(0, 140, 255);
  }

  .thermo {
    color: red; 
  }







  .submitTH {
    background-color:#3CA448;
    border-color: #3CA448;
  }


.number {
  background-color:#3CA448;

}

.btn-close {
  width: 40px;
  outline: none;
  box-shadow: none;
}



.modal-title{
  font-size: 24px;
  font-family: Arial, sans-serif;

}


  @media (min-width: 1025px) {
    .h-custom {
    height: 100vh !important;
    }
    }


 














    section{
      position: relative;
      width: 100%;
      height: 100vh;
      background-color:#8f8f8f4e;
      overflow: hidden;
    }
    section .air{
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100px;
      background: url(https://1.bp.blogspot.com/-xQUc-TovqDk/XdxogmMqIRI/AAAAAAAACvI/AizpnE509UMGBcTiLJ58BC6iViPYGYQfQCLcBGAsYHQ/s1600/wave.png);
      background-size: 1000px 100px
    }
    section .air.air1{
      animation: wave 30s linear infinite;
      z-index: 1000;
      opacity: 1;
      animation-delay: 0s;
      bottom: 0;
    }
    section .air.air2{
      animation: wave2 15s linear infinite;
      z-index: 999;
      opacity: 0.5;
      animation-delay: -5s;
      bottom: 10px;
    }
    section .air.air3{
      animation: wave 30s linear infinite;
      z-index: 998;
      opacity: 0.2;
      animation-delay: -2s;
      bottom: 15px;
    }
    section .air.air4{
      animation: wave2 5s linear infinite;
      z-index: 997;
      opacity: 0.7;
      animation-delay: -5s;
      bottom: 20px;
    }
    @keyframes wave{
      0%{
        background-position-x: 0px; 
      }
      100%{
        background-position-x: 1000px; 
      }
    }
    @keyframes wave2{
      0%{
        background-position-x: 0px; 
      }
      100%{
        background-position-x: -1000px; 
      }
      
    }


