
       
<carousel>
  <slide>
    <img src="/assets/caro1.png" alt="First slide">
    <div class="carousel-caption">
      <h1 class="shadow-text">Bienvenido a Zona Reptil</h1>
      <p  class="shadow-text" style="font-size:20px ;">"IoT animalcare software, it's the future"</p>
    </div>
  </slide>
  <slide>
    <img src="/assets/caro2.png" alt="Second slide">
    <div class="carousel-caption">
      <h1 class="shadow-text">Bienvenido a Zona Reptil</h1>
      <p class="shadow-text" style="font-size:20px ;">"IoT animalcare software, it's the future"</p>
    </div>
  </slide>
  <slide>
    <img src="/assets/caro3.png" alt="Third slide">
    <div class="carousel-caption">
      <h1 class="shadow-text">Bienvenido a Zona Reptil</h1>
      <p class="shadow-text" style="font-size:20px ;">"IoT animalcare software, it's the future"</p>
    </div>
  </slide>
</carousel>
  <!--END COROUSAL-->
  
  <br>
  <br>
  <br>
  <br>
  
  
  <!--CIRCULOS-->
  <div class="container thumbs">
  <div class="container marketing" class="text-center">
    <div class="row">
      <div class="col-lg-4">
        <img class="rounded-circle" src="/assets/iotcirc1.png" alt="Generic placeholder image" width="200" height="200">
        <h2>Dispositivo</h2>
        <p>Este sitio web está recibiendo datos en base una placa ESP32, utilizando sensores y actuadores. Sus funciones son que censa la temperatura y humedad de un terrario de reptiles. Esto es posible, ya que la placa ESP32 tiene conexión Wifi y con ello se muestran los datos obtenidos en nuestro sitio web.</p>
      </div>
      <div class="col-lg-4">
        <img class="rounded-circle" src="/assets/iotcirc2.png" alt="Generic placeholder image" width="200" height="200">
        <h2>Sitio</h2>
        <p>Este sitio web está desarrollado con herramientas tales como angular para la interfaz y Mongodb para administrar la base de datos. También se utiliza arduino para conectar el dispositivo con el sitio web y la base de datos. </p>
      </div>
      <div class="col-lg-4">
        <img class="rounded-circle" src="/assets/iotcirc3.png" alt="Generic placeholder image" width="200" height="200">
        <h2>Nosotros</h2>
        <p>Somos una empresa pequeña que apenas está comenzando, con tan solo 3 desarrolladores. Ofrecemos el servicio de nuestro nuevo desarrollo “Zona reptil”, el cual es un sitio multiplataforma con una arquitectura muy fácil de utilizar.</p>
      </div>
    </div>
  </div>
  </div>
  
  
  
  
  
   <!--END CIRCULOS-->
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
  
  
   
  <footer >

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(255, 255, 255, 0.2);">
     © 2023 Copyright:
     <a class="text-black" href="">Zonareptil.com</a>
   </div>
   <!-- Copyright -->
   </footer>
   <!-- Footer -->