<!-- LAST SAVED 8 PM ON 12/04/2023 DISPLAYS THE EDIT FORM BUT NO FIREBASE DATA -->
<mat-toolbar color="white">
  <a class="navbar-brand" href="#">
    <img
      src="/assets/logo.png"
      height="55"
      alt=""
      loading="lazy"
    />
  </a>



  
  <span class="example-spacer"></span>
  <span class="example-spacer"></span>
  <span class="example-spacer"></span>
  <span class="example-spacer"></span>
  <span class="example-spacer"></span>
  <span class="example-spacer"></span>
  <span class="example-spacer"></span>
  <span class="example-spacer"></span>
  <span class="example-spacer"></span>
  <span class="example-spacer"></span>
  <span class="example-spacer"></span>
  <span class="example-spacer"></span>
  <span class="example-spacer"></span>
  <span class="example-spacer"></span>
  <span class="example-spacer"></span>
  <span class="example-spacer"></span>
  <span class="example-spacer"></span>
  <span class="example-spacer"></span>
  <span class="example-spacer"></span>
  <span class="example-spacer"></span>
  <span class="example-spacer"></span>
  <span class="example-spacer"></span>
  <span class="example-spacer"></span>
  <span class="example-spacer"></span>
  <span class="example-spacer"></span>
  <span class="example-spacer"></span>
  <span class="example-spacer"></span>
  <span class="example-spacer"></span>
  <span class="example-spacer"></span>
  <span class="example-spacer"></span>
  <span class="example-spacer"></span>
  <span class="example-spacer"></span>
  <span class="example-spacer"></span>
  <span class="example-spacer"></span>
  <span class="example-spacer"></span>
  <span class="example-spacer"></span>
  <span class="example-spacer"></span>
  <span class="example-spacer"></span>
  <span class="example-spacer"></span>
  <span class="example-spacer"></span>
  <span class="example-spacer"></span>
  <span class="example-spacer"></span>
  <span class="example-spacer"></span>
  <span class="example-spacer"></span>
  <span class="example-spacer"></span>
  <span class="example-spacer"></span>
<span class="example-spacer"></span>
<span class="example-spacer"></span>


  <button   mat-button routerLink="sign-up"> 
    Paquetes
  </button>

<ng-container *ngIf="authService.currentUser$ | async as user; else loginButton" > 
  <button mat-button (click)="logout()"> 
    <mat-icon>logout</mat-icon>
    Logout
  </button>
</ng-container>


  <ng-template #loginButton>
   

 

   
    <button mat-button routerLink="login"> 
      <mat-icon>login</mat-icon>
      Login
    </button>
  </ng-template>


</mat-toolbar>



<div class="content">
  <router-outlet></router-outlet> 
</div>


